[submodule "tests/xdg/local/share/nvim/site/pack/testing/start/plenary.nvim"]
	path = tests/xdg/local/share/nvim/site/pack/testing/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "tests/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter"]
	path = tests/xdg/local/share/nvim/site/pack/testing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "resources/tree-sitter-rout"]
	path = resources/tree-sitter-rout
	url = https://github.com/R-nvim/tree-sitter-rout
