doc/tags
nvimcom/src/*.o
nvimcom/src/apps/*.o
nvimcom/src/*.so
nvimcom/src/*.dll
nvimcom/src/compile_flags.txt
nvimcom/src/apps/*.o
nvimcom/src/apps/*.so
nvimcom/src/apps/*.dll
nvimcom/src/apps/rnvimserver
nvimcom/src/apps/rnvimserver.exe
nvimcom/src/apps/compile_flags.txt
scripts/__pycache__/
scripts/*.pyc
.tests
